body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #192A51;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: none;
    gap: 20px;
}
h1{
    color: white;
}

.deposit-container{
    display: none;
}
.withdrawal-container{
    display: none;
}
.sign-up-container{
    display: none;
}
.login-container{
    display: none;
}
.first-time-deposit-container{
    display: none;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.bank-logo{
    width: 55px;
    height: 55px;
}
.bank-header{
    font-family: "Merriweather Sans", sans-serif;
    margin: 0;
    font-size: 3rem;
}

.action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.login-btn,.sign-up-page{
    padding: 0.8em 1.5em;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    border: 2px solid white;
    position: relative;
}
.login-btn:hover,.sign-up-page:hover{
    cursor: pointer;
}

.login-btn::before,.sign-up-page::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 100%;
    background-color: #1E3A8A;
    z-index: -1;
    transition: 0.35s ease-out;

}
.login-btn:hover::before,.sign-up-page:hover::before{
    width: 100%;
}



.sign-up-container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    min-height: 350px;
    background-color: #101B37;
    border-radius: 15px;
    gap:20px
}
.sign-up-header{
    color: white;
    font-family: "Roboto Slab", serif;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;

    
}
.full-name,.pin-number{
    background-color: #0A1124 ;
    border: none;
    min-height: 35px;
    width: 100%;
    max-width: 220px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.full-name::placeholder,.pin-number::placeholder{
    color: white;
    text-align: center;
}
.sign-up-btn{
    min-height: 35px;
    width: 100%;
    max-width: 220px;
    border-radius: 5px;
    border: none;
    background-color: #1F315D;
    color: white;
}
.sign-up-btn:hover{
    cursor: pointer;
}

.login-container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    width: 100%;
    max-width: 400px;
}

.login-full-name,.login-pin-number{
    background-color: #0A1124 ;
    border: none;
    min-height: 45px;
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.login-full-name::placeholder,.login-pin-number::placeholder{
    color: white;
}
.person-icon{
    width: 85px;
    height: 85px;
}
.sign-in-btn{
    padding: 0.7em 2.2em;
    font-size: 1.1rem;
    border: none;
    background-color:#4285f4;
    color: white;
    border-radius: 3px;
}
.sign-in-btn:hover{
    cursor: pointer;
}